*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif !important;
}
.navbar{
  display: flex !important;
  align-items: center !important;
  padding: 10px !important;
}
nav{
  flex: 1 !important;
  text-align: right !important;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
  text-decoration: none;
  color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 10px 0;
    margin: 0 50px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    /* background: #ff523b; */
    background: black;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 100px;
}
.btn:hover{
    background:darkgrey;
}
.header{
    background: radial-gradient(#fff,#85C1E9 );
}
.header .row{
    margin: 30px 0;
}
.categories{
    margin: 50px 0;
}
.col-3{
    /* display: flex; */
    /* flex-wrap: wrap; */
    flex-basis: 32%;
    min-width: 250px;
    margin-bottom: 20px;
    /* justify-content: space-between; */
    text-align: center;
}
.col-3 img{
    width: 100%;
}
.small-container{
    /* max-width: 1200px; */
    /* margin: auto; */
    padding: 0 25px;
}
.small-container h2{
    
    padding:10px;
}
.col-4{
    /* display: flex; */
    /* flex-wrap: wrap; */
    flex-basis: 25%;
    /* min-width: 250px; */
    margin-bottom: 50px;
    padding: 10px;
    /* justify-content: space-between; */
    text-align: center;
    align-self: baseline;
    transition: transform 0.5s;
    cursor: pointer;
}
#Powder.col-4 img{
    height:200px;
    /* width: 200px; */
    margin-top: 30px;
}
#NIP.col-4 img{
    /* height:200px; */
    width: 200px;
    margin: 30px 0;
}
.title{
    text-align: center;
    margin: 0 auto 20px;
    position: relative;
    line-height: 40px;
    color: #555;
}
.title::after{
    content: '';
    background:black;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 16px;
}
.rating .fa{
    color: black;
}
.col-4:hover{
    transform: translateY(-10px);
}
/* offer */
.offer{
    background: radial-gradient(#fff,#85C1E9 );
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

/* testimonial */
.testimonial{
    padding: 50px 150px;
}
.testimonial .col-3{
    max-width: 350px;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: black;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/* brands */
.brands{
    padding: 0 100px;
    margin-bottom: 30px;
}
.col-5{
    width: 160px;
}
.col-5 img{
    margin: auto;
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/* footer */
.footer{
    background:#000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    display: flex;
    /* flex-basis: auto; */
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 10px;
}
.footer-col-1, .footer-col-2, .footer-col-4{
    min-width: 250px;
    margin-bottom: 30px !important;
    
}
.footer-col-1{
     flex-basis:30%;
}
.footer-col-2{
    flex: 1;
    text-align: center !important;
}
.footer-col-2 img{
    width: 200px;
    margin-top: -20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center !important;
}
ul{
    padding-left: 3px;
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 100px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* all products */
.row-2{
    justify-content: space-between;
    max-width: 1200px;
    margin: 10px auto 20px;
}
select{
     border: 1px solid #ff523b;
}
select:focus{
    outline: none;
}
.page-btn{
    text-align: center;
    /* max-width: 1300px; */
    margin: 0 auto 50px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background:black;
    color: white;
}

/* single product details */

.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 40px;
}
.single-product h4{
    margin: 20px o;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 5px;
}
.small-img-row{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.small-img-col{
    flex-basis: 30%;
    cursor: pointer;
    align-self:center;
    text-align: center;
}
.small-img-col img{
    margin: 0px;
}

/* cart items */
.small-container-1{
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
}
.cart-page{
    margin: 50px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: black;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: black;
    font-size: 12px;
}
td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* media query for menu */
@media only screen and (max-width:800px){
    nav ul{
        display: block;
        margin-top: 15px;
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
}

/* account-page */
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#85C1E9 );
}
.form-container{
    background: white;
    width: 500px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px  0px rgba(0,0,0,0.1);
    overflow: hidden;
    align-items: center;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 500px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    /* transition: transform 1s; */
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: 0px;
}
/* #RegForm{
    left: 0;
} */
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: black;
    height: 3px;
    align-items: center;
   
}

/* media query for <600 menu */
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
    #img{
        margin: auto;
    }
}
